
:root, [data-bs-theme=light] {
    --bs-dark-rgb: 51, 57, 64; /*primary*/
}
/*
.accordion {
    --bs-accordion-active-bg: #fff;
}
*/
.accordion-button:not(.collapsed)::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

.mrGray {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
}

.mrGray:hover {
    opacity: 0.4;
    text-decoration: none;
}
/*
.mrGray:focus {
    opacity: 0.2;
    text-decoration: none;
}
*/
.mrGray:active {
    opacity: 0.2;
    text-decoration: none;
}